:root {
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 500px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1280px;
    --bs-breakpoint-xxl: 1400px;
    
    --colBlackish: rgba(10,18,2,1);
    --colPrimaryDark: rgba(69, 110, 21, 1);
    --colPrimaryBase: rgba(88, 151, 11, 1);
    --colPrimaryLite: rgba(155, 195, 115, 1);
    --colSecondaryDark: rgba(90, 85, 65, 1);
    --colSecondaryBase: rgba(90, 85, 65, 1);
    --colSecondaryLite: rgba(176, 156, 136, 1);
    --colTertiaryBase: rgba(217, 1, 16, 1);
    --colAccentBold: rgba(251,62,3,1);
    --colAccentSharp: rgba(255,220,35,1);
    --colWhitish: rgba(250,255,235,1);
}

* {
    font-family: 'Granjon', 'Truesdell', 'Garamond', Georgia, 'Times New Roman', Times, serif;
    font: 'Granjon', 'Truesdell', 'Garamond', Georgia, 'Times New Roman', Times, serif;
}
  
body {
    margin: 0;
    padding: 0;
    color: var(----colBlackish);
    background-color: var(--colSecondaryLite);
}

header{
  background-color: var(--colWhitish);
  display: flex;
  margin-top: 11px;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#logoMain {  
    align-items: start;
    width: 174px;
    height: 174px;
    margin: 0 auto;
    display: inline-block
}

#facebookLogo {
  width: 30px;
}
#gmailLogo {
  width: 55px;
}
#githubLogo {
  width: 55px;
}
#linkedInLogo {
  width: 30px;
}
#jonathan {
  max-height: 300px;
  /* width: 300px; */
  float: left;
  padding: 10px;
}

a .minilogo {
  display: inline;
}

p {
  font-size: 18px;
}

nav{
  margin-right: 38px;
}

li {
  color: var(--colPrimaryDark);
  font-size: 32pt;
  display: inline-block;
  justify-content: space-between;
  margin-left: 25px;
  display: inline-block;
  margin-left: 25px;
}

.vl{
  border-left: 5px solid var(--colAccentSharp);
  height: 150vh;
  width: 1%;
  margin-left: 2%;
  display: inline-block;
}

/* Main Content Section headers */
h2 {
  padding: 10px;
  font-size: 135%;
  color: var(--colPrimaryLite);
  background-color: var(--colSecondaryDark);
  border-radius: 10px;
  text-align: center;
}

/* My Projects headers */
h3 {
  text-align: center;
  font-size: 125%;
  font-weight: bolder;
  float: auto;
}

/* Central Selling Points headers */
h4 {
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

main {
  width: 80%;
  display: inline-block;
  margin-left: 20px;
  margin-top: 200px;
  vertical-align: top;
}


.maincontent {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--colWhitish);
  border: 1px solid var(--colBlackish);
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--colBlackish);
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
  color: var(--colBlackish);
  float: left;
}

.project {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  float: left;
  width: 25%;
  min-height: 350px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 250px; */
}
.project img {
  max-width: 100px;
  display: flex;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* .project p {
  display: flex;
} */

#heroproject {
  width: 100%
}
#heroproject img {
  max-width: 200px;
  border-radius: 10px;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

.tidbit {
  text-align: center;
  margin: 10px;
  border: 1px solid var(--colBlackish);
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--colBlackish); 

}

/* p {
  margin-top: 10px;
} */

.centralSellingPoints h3 {
  grid-column: 1 / span 3;
  font-size: 48px;
}

.centralSellingPoints {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 2%;
  width: 100%;
  /* float: right; */
  background-color: var(--colTertiaryBase);
  border: 1px solid var(--colBlackish);
  color: var(--colBlackish);
}

.italics{
  font-style: italic;
}

#star {
  color: var(--colAccentSharp);
}
#link {
  color: var(--colAccentBold);
}

footer {
  display: flex;
  flex-direction: column;
  background-color: var(--colBlackish);
  color: var(--colWhitish);
  padding: 4px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  /* body {
    background-color: var(--colBlackish);
  } */
  .project {
    width: 50%;
    min-height: 700px;
  }
  .centralSellingPoints h3 {
    grid-column: 1 / span 1;
    font-size: 36px;
  }
  .centralSellingPoints {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .project {
    width: 100%;
  }
}
